.form-container {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 1rem;
  font-family: inherit;
  padding: 0.5rem;
  width: 340px;
  border-radius: 0.6rem;
  border: 1px solid rgba(51, 51, 51, 0.39);
  font-size: 1.6rem;
}

.input:focus {
  outline: none;
}

.btn {
  width: 140px;
  padding: 1rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #e63946;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.text-area {
  resize: none;
}

.main-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.text {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.date {
  font-size: 1.6rem;
  font-weight: 700;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.note-items {
  margin-bottom: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.2rem;
  max-width: 350px;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.update-btn {
  width: 80px;
  padding: 1rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #03045e;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
}

.update-btn:focus {
  outline: none;
}

.delete-btn {
  width: 80px;
  padding: 1rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #e63946;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
}

.delete-btn:focus {
  outline: none;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 0.8rem;
  max-width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.update-form {
  margin-top: 4rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
